@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div>
        <h2>GCSE Chinese Client</h2>
        <ul>
            <li>Topics</li>
            <li>Assessments</li>
        </ul>
    </div>
   
</div>
